/*衍生色 Bg 背景颜色的缩写*/
$bg-grey: #f5f7fa; // 灰色背景
$bg-white: #ffffff; // 白色背景

$systemColor: #3365b3; // 系统主色
$lineColor: #e6e6e6; // 线条颜色
$tableHeaderBg: #f3f6fe; // 表头的背景颜色
// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$pageBg: #f5f7fa; // 页面背景灰
$pageBgMain: #fff; // 页面背景灰

.ss {
  background-color: $bg-white;
}

@for $i from 1 through 8 {
  .pb-#{$i * 5} {
    padding-bottom: $i * 5px;
  }
  .pbi-#{$i * 5} {
    padding-bottom: $i * 5px !important;
  }
}
